#Database
DATABASE_USER=db-user
DATABASE_PASSWORD=your-password
DATABASE_NAME=your-db-name
DATABASE_HOST=host-name
DATABASE_PORT=5432

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER_NAME=your.email
MAIL_PASSWORD=mail-password
MAIL_FROM=noreply@example.com
MAIL_DISPLAY_NAME=mail-display-name

ZEPTOMAIL_TOKEN=zeptomail token //used by api mode of zeptomail instead of smtp

GOOGLE_CLIENT_ID=your-google client-id
GOOGLE_CLIENT_SECRET=your-google-secret-key

APP_BASE_URL=your-domain.com

CLOUDINARY_API_SECRET=your-secret
CLOUDINARY_API_KEY=your-key
CLOUDINARY_CLOUD_NAME=cloud-name